footer{
    background-color:  rgb(62, 62, 62)
}
.h6{
    margin-bottom: -20px;
}
.copyright{
    background-color: rgb(39, 37, 37)
}
/* .fix{
    position: fixed;
} */footer{
    background-color:  rgb(62, 62, 62)
}
.h6{
    margin-bottom: -20px;
}
.copyright{
    background-color: rgb(39, 37, 37)
}
/* .fix{
    position: fixed;
} */
.coupleeee{
    margin-left: -200px;
}
.iconn{
   padding-right: 10px;
}