span {
  display: inline-block;
}
h5{
    color: white;
    font-weight: 525;
}
img{
  width: 50px;
  height: 50px;
}
a{
  margin-left: 50px;
}
/* img{
  height: 100%;
} */
.navbar22{
background-color: rgb(42, 41, 41,0.5);
}
.helpline{
margin-left: 800px;
}
.textleft{
margin-left: 250px;
}
.icon{
  margin-right: 50px;
}
/* .fix{
position: sticky;
top: 0;
} */
/* .profile{
padding: 20px ;
border: 1px solid rgb(255, 255, 255);
border-radius: 50px ;
margin-left: 40px;
} */
.button{
  display:block;
  height: 40px;
  width: 10%;
  border-radius: 20px;
  border: 1px solid rgb(48, 48, 247);
  
}

.dropdown {
  /* margin-right: 5%; */
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 11px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
