<div class="fix sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light nav bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/4957587-removebg-preview.png" alt="" srcset=""><span><h5>NateSambhandh</h5></span>
      </a>
      <div id="navbarSupportedContent">
        <p class="text-white helpline mt-3 ">Help-Line 9309976861</p>
      </div>
      <div class="profile">


        <div class="dropdown">0

          <button class="dropbtn">
            Profile
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" routerLink="/editprofile">Edit Profile</a>
            <a href="#" routerLink="/setting">Setting</a>
          </div>
        </div>


      </div>
      <button class="button btn-dark" routerLink="/home">logout</button>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light navbar22">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav page me-auto mb-2 mb-lg-0 textleft">
          <!-- <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/login">login</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/profileupdate"></a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/myinterest">My-Interest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/shortlist">Shortlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/chatbox">Message</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Block</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/search">Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/inbox">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/helpdesk">FAQ</a>
          </li>
        </ul>
      </div>
      <div>
      </div>
    </div>
  </nav>
</div>