<app-header></app-header>
<body>
  <!-- <div>
    <nav class="navbar navbar-expand-lg">
      <img
        src="../../../assets/cropped-shaadi-logo.jpg"
        alt=""
        srcset=""
        class="img"
      />
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">Matches</a>
          <a class="nav-item nav-link" href="#">Search</a>
          <a class="nav-item nav-link" href="#">Inbox</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </div>
        <div class="dropdown">
          <i
            class="fa fa-user-circle"
            style="color: white; font-size: 30px; margin-top: 10px"
          ></i>
  
          <button class="dropbtn">
            Profile
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Setting</a>
            <a href="#">Sign Out</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
   -->

   <div class="row">
    <div class=" col col-md-4">
      <app-sidebar></app-sidebar>

  </div>

    <div class="col-md-7 mt-5 carddddd shadow-lg rounded ">

      <div style="background: #ededed" class="my">
        <div class="container clearfix">
  
          <div class="row">
            <div class="people-list shadow-lg  bg-white rounded " id="people-list">
              <div class="search">
                <input type="text" placeholder="search" />
                <i class="fa fa-search"></i>
              </div>
              <ul class="list">
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Vidhan Tidke</div>
                    <div class="status"><i class="fa fa-circle online"></i> online</div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Nishant Tidke</div>
                    <div class="status">
                      <i class="fa fa-circle offline"></i> left 7 mins ago
                    </div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Kiran Kshirsagar</div>
                    <div class="status"><i class="fa fa-circle online"></i> online</div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_04.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Apurva Shinde</div>
                    <div class="status"><i class="fa fa-circle online"></i> online</div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_05.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Shivani Sukalkar</div>
                    <div class="status"><i class="fa fa-circle online"></i> online</div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_06.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Priya Hatwar</div>
                    <div class="status">
                      <i class="fa fa-circle offline"></i> left 30 mins ago
                    </div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_07.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Karan Kshirsagar</div>
                    <div class="status">
                      <i class="fa fa-circle offline"></i> left 10 hours ago
                    </div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_08.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Shravni Tawade</div>
                    <div class="status"><i class="fa fa-circle online"></i> online</div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_09.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Sopan Kalyane</div>
                    <div class="status">
                      <i class="fa fa-circle offline"></i> offline
                    </div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_10.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Suhani Bhosle</div>
                    <div class="status"><i class="fa fa-circle online"></i> online</div>
                  </div>
                </li>
        
                <li class="clearfix">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_07.jpg"
                    alt="avatar"
                  />
                  <div class="about">
                    <div class="name">Karan Kshirsagar</div>
                    <div class="status">
                      <i class="fa fa-circle offline"></i> left 10 hours ago
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        
            <div class="chat shadow-lg  bg-white rounded ">
              <div class="chat-header clearfix">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg"
                  alt="avatar"
                />
        
                <div class="chat-about">
                  <div class="chat-with">Chat with Vidhan Tidke</div>
                  <div class="chat-num-messages">already 1 902 messages</div>
                </div>
              </div>
              <!-- end chat-header -->
        
              <div class="chat-history">
                <ul>
                  <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time">10:10 AM, Today</span> &nbsp;
                      &nbsp;
                      <span class="message-data-name">Manasi</span>
                      <i class="fa fa-circle me"></i>
                    </div>
                    <div class="message other-message float-right">
                      Hi Vidhan, how are you?
                    </div>
                  </li>
        
                  <li>
                    <div class="message-data">
                      <span class="message-data-name"
                        ><i class="fa fa-circle online"></i> Vidhan</span
                      >
                      <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">Are we meeting today?</div>
                  </li>
        
                  <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time">10:14 AM, Today</span> &nbsp;
                      &nbsp;
                      <span class="message-data-name">Manasi</span>
                      <i class="fa fa-circle me"></i>
                    </div>
                    <div class="message other-message float-right">
                      Well I am not sure.
                    </div>
                  </li>
        
                  <li>
                    <div class="message-data">
                      <span class="message-data-name"
                        ><i class="fa fa-circle online"></i> Vidhan</span
                      >
                      <span class="message-data-time">10:20 AM, Today</span>
                    </div>
                    <div class="message my-message">
                      Actually everything was fine. I'm very excited.
                    </div>
                  </li>
        
                  <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time">10:14 AM, Today</span> &nbsp;
                      &nbsp;
                      <span class="message-data-name">Manasi</span>
                      <i class="fa fa-circle me"></i>
                    </div>
                    <div class="message other-message float-right">Yes I also</div>
                  </li>
        
                  <li>
                    <div class="message-data">
                      <span class="message-data-name"
                        ><i class="fa fa-circle online"></i> Vidhan</span
                      >
                      <span class="message-data-time">10:31 AM, Today</span>
                    </div>
                    <i class="fa fa-circle online"></i>
                    <i class="fa fa-circle online" style="color: #aed2a6"></i>
                    <i class="fa fa-circle online" style="color: #dae9da"></i>
                  </li>
                </ul>
              </div>
              <!-- end chat-history -->
        
              <div class="chat-message clearfix">
                <textarea
                  name="message-to-send"
                  id="message-to-send"
                  placeholder="Type your message"
                  rows="3"
                ></textarea>
        
                <button>Send</button>
              </div>
              <!-- end chat-message -->
            </div>
          </div>
          
          <!-- end chat -->
        </div>
      </div>
    </div>
  
  </div>
  
</body>