<div>
  <img src="../assets/home-page-banner-tvc-play.jpg" class="img-fluid" alt="home" />
</div>
<div class="container">
  <div class="row">
    <div class="col col-sm-3 col-md-6 col-lg-12">
      <div>
        <nav>
          <div>
            <img src="../../../assets/4957587-removebg-preview.png" alt="" srcset="" style="width: 6%;"><span>
              <h1>NateSambhandh</h1>
            </span>
          </div>
          <div class="login" style="margin-top: -4%;">
            <a routerLink="/login" class="log">Login</a>
            <a class="help" routerLink="/helpdesk">Help-line</a>
          </div>
        </nav>
        <div class="text text-white row">
          <h1 class="slagon">
            <span class="span1">Choose &nbsp;</span>
            <span class="span1">Your &nbsp;</span>
            <span class="span1">Partner &nbsp;</span>
            <span class="span1">Today</span>
          </h1>
          <h4>
            <span class="span1">To Love, &nbsp;</span>
            <span class="span1">Laughter, &nbsp;</span>
            <span class="span1">and Happily &nbsp;</span>
            <span class="span1">Ever After &nbsp;</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 style="color: black; font-weight: 700; margin-left: 36%; margin-top: 8%">
    Find Your Special Someone
  </h1>
  <div class="row" data-testid="feature_items" style="margin-left: 10%">
    <div data-testid="sign_up_feature" class="col-sm-4 text-center">
      <div class="circle profile">
        <i class="fa-solid fa-pen-to-square"></i>

      </div>
      <a title="Create your Matrimony Profile" id="sign_up_icon" href="" class="FeaturesItem_sign_up__1k9vM"><span
          class="FeaturesItem_sign_up_span__18vZ-"></span></a>
      <div class="FeaturesItem_special_someone_wrap__1Me_I">
        <a id="sign_up_link" class="FeaturesItem_link__2oJgu" href="" routerLink="/register">
          <h4>Sign Up</h4>
        </a>
        <div>Register for free <br> &amp; put up your Matrimony Profile</div>
      </div>
    </div>
    <div data-testid="connect_feature" class="col-sm-4 text-center">
      <div class="circle connect">

        <i class="fa-solid fa-users"></i>


      </div>
      <a title="Connect with Matrimony Profiles" id="connect_icon" href="" class="FeaturesItem_connect__2_9T7"><span
          class="FeaturesItem_connect_span__2Ku6x"></span></a>
      <!-- <div class="FeaturesItem_special_someone_wrap__1Me_I">
        <a id="connect_link" class="FeaturesItem_link__2oJgu text-primary" href="" routerLink="/login"><h4>Connect</h4></a>
        <div>Select &amp; Connect with Matches you like</div>
      </div> -->
      <div class="FeaturesItem_special_someone_wrap__1Me_I">
        <a id="sign_up_link" class="FeaturesItem_link__2oJgu" href="" routerLink="/register">
          <h4>Connect</h4>
        </a>
        <div>Register for free <br> &amp; put up your Matrimony Profile</div>
      </div>
    </div>
    <div data-testid="interact_feature" class="col-sm-4 text-center">
      <div class="circle interact">

        <i class="fa-solid fa-comments"></i>
      </div>
      <a title="Become a Premium Member &amp; Find Matrimony Profiles" id="interact_icon" href=""
        class="FeaturesItem_interact__3mOnQ"><span class="FeaturesItem_interact_span__3zXN_"></span></a>
      <div class="FeaturesItem_special_someone_wrap__1Me_I">
        <a id="interact_link" class="FeaturesItem_link__2oJgu" href="" routerLink="/register">
          <h4>Interact</h4>
        </a>
        <div>Become a Premium Member <br> &amp; Start a Conversation</div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container" id="about">
    <h1 style="color: black; font-weight: 700; margin-left: 40%; margin-top: 80px">
      About NateSambhandh
    </h1>
    <div class="row" style="margin-top: 5%">
      <div class="col col-md-6 col-lg-6">
        <img src="../assets/pressure-hatao-m-banner-v2.jpg" class="img1" alt="img"
          style="width: 80%; margin-left: 18%; height: 90%" />
      </div>
      <div class="col col-md-6 col-lg-6">
        <div class="block">
          <p style="font-size: 18px; line-height: 2; text-align: justify">
            Users make their first impressions on potential matches through images, and Natesambandh.com creates its
            first
            impression on its users through photos as well. The photographs are checked for any potentially harmful
            content or content that violates the company's requirements.
            Natesambandh.com has a very modest & candid revenue model. They charge the member for a premium membership with
            various plans. Registration over the platform is free of cost. User can look for various matches according
            to their requirement.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="projects">
    <div class="row" style="margin-top: -100px">
      <div class="col col-md-6 col-lg-6">
        <div class="block2" style="margin-left: 18%">
          <div class="txt" style="text-align: justify; margin-top: 20%">
            <p style="font-size: 18px; line-height: 2; text-align: justify">
              This premium resident house was designed for a big family about
              4-6 people. It has own large and spacious terrace of 104.7 sq.m.
              acts at the same time as a porch.

            </p>
            <p style="font-size: 18px; line-height: 2; text-align: justify">
              The presence of the entrance vestibule allows you to use this
              project of house in any climatic . The patio between the
              living room and the master bedroom is alsoconditions a passive thermal
              device: it creates a thermal differential between the swimming
              pool and the patio.
            </p>

          </div>
        </div>
      </div>

      <div class="col col-md-6 col-lg-6">
        <img src="../assets/trust-your-partner.jpg" alt="img"
          style="width: 100%; height: 60%; margin-top: 120px; margin-left: 5%" />
      </div>
    </div>
  </div>
</div>
<!-- <h1 style="color: black; font-weight: 700; margin-left: 33%; margin-top: 10px">
  Brides And Grooms Photo Profiles
</h1> -->
<!-- <div class="row">
  <div class="container">
    <div class="profile-container col-lg-4">
      <div class="profile-card" *ngFor="let name of names">
        <img src="https://i.imgur.com/bZBG9PE.jpg" alt="image1" class="profile-icon" />
        <div class="profile-name">{{ name.name }}</div>
        <div class="profile-age">{{ name.age }}</div>
        <div class="profile-education">{{ name.education }}</div>
        <a href="#" class="button" routerLinkActive="login">Connect</a>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container profile-container">
  <div class="row">
    <div class="col col-md-4">
      <div class="profile-card" *ngFor="let name of names">
        <img src="https://i.imgur.com/bZBG9PE.jpg" alt="image1" class="profile-icon" />
        <div class="profile-name">{{ name.name }}</div>
        <div class="profile-age">{{ name.age }}</div>
        <div class="profile-education">{{ name.education }}</div>
        <a href="#" class="button" routerLinkActive="login">Connect</a>
      </div>
    </div>
    
  </div>

</div> -->


<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-dark" type="button" style="padding: 15px; font-size: 25px; border-radius: 40px;"
    routerLink="/register">
    Register
  </button>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />