<app-header></app-header>
<div class="container">
  <div class="mt-0 head">
    <h1 class="h1">Frequently asked questions!!</h1>
  </div>
  <div class="row mt-5">
    <div class="col col-sm-6">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="I want to edit my profile">
          <ng-template ngbPanelContent>
            <div>
              <p>Editing your profile:</p>
              <p>Adding details to your profile lets you control and enhance how others see your profile.
                Steps to edit profile details on Shaadi App (Android and iOS)</p>
              <p>1.Click on the "Home" Tab available at the bottom-left corner of the Shaadi screen</p>
              <p>2.Then click on the "Edit profile" option available next to your profile ID.</p>
              <p>3. You get an option to edit your profile details category-wise (Basic Info, About Myself section,
                Religious Background, etc..)
                Please note that critical details like Religion, Community, Date of Birth, Gender, Height, Marital
                Status, and Mother Tongue can be changed only once after profile registration.</p>
              <p>To edit your profile through the website, click on the button below:</p>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="How do I know if the chat messages I sent has been sent to my match?">
          <ng-template ngbPanelContent>
            <div>
              <p>We have kept it very simple like any other social media portal.</p>
              <p> 1-Single tick indicates a message has been sent</p>
              <p>2-Double tick indicates the message has been delivered</p>
              <p>3-Double blue ticks indicates the message is read</p>
              <p>Note - If it shows a clock sign, it means the message is not sent due to network issue either at the
                recipient side or at your end.</p>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="I want to hide or delete my profile">
          <ng-template ngbPanelContent>
            <div>
              <p>I want to hide or delete my profile</p>
              <p>Hiding your profile:</p>
              <p>When you choose to hide your profile, it will not be visible to other members on Shaadi.com. Your
                activities like sending interest, responding to interest, chats, etc are restricted till you unhide
                your profile.</p>
              <p>We suggest you to use this feature if you wish to put your partner search on hold temporarily or you
                found someone but yet to finalize. You can hide your profile for up to 30 days.</p>
              <p>Deleting your profile:</p>
              <p>Congratulations, if you have found a match!</p>
              <p>However, if you are leaving due to any unpleasant experience, we will be happy to address that.
                Please note that once you delete your profile, all the details are deleted and cannot be recovered.
              </p>
              <p>If you are using Shaadi App follow the steps below to Hide/Delete the profile:</p>
              <p>1. Go to "Home" Page.</p>
              <p>2. Scroll to the bottom of the screen and click Account Setting.</p>
              <p> 3. Click "Hide/Delete Profile" to proceed.</p>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="I want to know about the various membership plans with their benefits">
          <ng-template ngbPanelContent>
            <p>Upgrade to any of our Membership Plans and we guarantee you will find a match!</p>
            <p>Benefits of Premium Memberships:</p>
            <p>Premium Membership helps you to directly initiate a conversation with your matches and exchange
              information to proceed. As a Premium member, you have the following benefits: </p>
            <p> 1. Chat unlimited with your Matches</p>
            <p>2. View contact numbers/Send SMS.</p>
            <p>3. Send Premium Interest with your contact details.</p>
            <p>4. View hidden photos</p>
            <p>5. View the complete name of your matches.</p>
            <p>6. Get access to Shaadi Meet which helps you to directly initiate a Video call with your matches. </p>
            <p>7. View College & Employer Name of your matches.</p>
            <p>8. Get Premium Assistance on priority for all your concerns/queries!</p>
            <p>These benefits should help you to get a quick response in your partner search</p>
            <p>Benefits of Premium Plus Memberships: </p>
            <p> As a Premium Plus member, you have the following benefits:</p>
            <p>1. Chat unlimited with your Matches</p>
            <p>2. View more contact numbers/Send SMS.</p>
            <p>3. Send Premium Interest with your contact details.</p>
            <p>4. View hidden photos </p>
            <p>5. View the complete name of your matches. </p>
            <p>6. Feature on top of search results & get highlighted to your Matches</p>
            <p>7. Allow Free members to view your contat details (Available only for Diamond Plus & Platinum Plus
              Plan). </p>
            <p>8. Get access to Shaadi Meet which helps you to directly initiate a Video call with your matches.</p>
            <p>9. View College & Employer Name of your matches.</p>
            <p>10. Get Premium Assistance on priority for all your concerns/queries!</p>
            <p>These benefits should help you to get quick response in your partner search.</p>
            <p>Benefits of Personalised Memberships:</p>
            <p>As the name says, you are assigned a dedicated relationship advisor to suggest handpicked matches, take
              your approval and do a follow up on your behalf to arrange meetings. You also enjoy all the Premium Plus
              benefits with unlimited contact count/chats.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="I want to request for refund">
          <ng-template ngbPanelContent>
            <p>Our Refund Policy under Match Guarantee Scheme</p>
            <p>If you have sent at least 10 Interests and you don't have a single Accept in 30 days, we will refund
              your entire fee!</p>
            <p>You can contact us & request for refund if you meet our Match Guarantee Scheme.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="I need help as my payment is declined but the amount is deducted">
          <ng-template ngbPanelContent>
            <p>If your transaction is declined but the amount has been deducted from your account, please do not
              worry.</p>
            <p>Cross-check with your bank if the amount deducted has not been credited back to your account.
              If your bank confirms that the amount deducted has not been credited back,
              please mail your bank statement reflecting the payment deduction with us at help@shaadi.com.
              We will check and take the necessary action at our end.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="I want to know about the offers and discounts">
          <ng-template ngbPanelContent>
            <p>Your membership is activated instantly once we receive the payment. It usually depends on the mode of
              payment. For online payment, the activation is instant.</p>
            <p>For Online Payments</p>
            <p>For Offline Payments</p>
            <p>Membership Activation is done within 48 hours of Cheque clearance/Cash deposit at Bank.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel
          title="I like a profile on Shaadi.com. Being a Premium Member, can Shaadi.com Customer Support team help me to contact a non responsive member?">
          <ng-template ngbPanelContent>
            <p>Responding to an interest/communication request is purely a member's choice. We feel it will be unfair
              to solicit a response when the member has chosen otherwise. We have provided different alternatives on
              our portal to get a better response like Sending reminders, Sending chat requests, Viewing phone no/Send
              SMS. These benefits are available to all Premium members. </p>
            <p>You can also avail of our personalized plans like 'Select Shaadi' or 'VIP Shaadi' service where an
              expert manages your profile completely on your behalf like sending interest, seeking a response,
              arranging meetings, etc.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="What is Shaadi Meet? How does it work?">
          <ng-template ngbPanelContent>
            <p>Shaadi Meet is a video calling feature for premium members. With the tap of a button, you can now video
              call your match. Free members can receive Video call but to initiate, they need to be a premium member.
              This feature is available for Android and iOS App users. </p>
            <p>It is available under the "Chat" option, you can see the list of profiles available for Video calling.
            </p>
            <p>You can set Privacy Settings on who can video call you and also set a convenient time to receive the
              calls as per your convenience. The option is available under "My Shaadi" Tab >> "Account Settings" >>
              "Contact Privacy" >> "Shaadi Meet". </p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col col-sm-6">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="What is a 'Saved Search'? How many searches can I save?">
          <ng-template ngbPanelContent>
            <p> You can save up to 5 searches with different criteria to run it later to get matches as per the saved
              criteria. You can also choose to get them emailed to you. </p>
            <p>It is available at the bottom of the Search page on our website (Available for Website users).</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="In what order are my search results listed?">
          <ng-template ngbPanelContent>
            <p> Search results are listed in a default order to ensure maximum responses to your profile. You can also
              sort the results by 'Newest First' and 'Last Logged in First'. </p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Can I shortlist profiles that I like on Shaadi.com?">
          <ng-template ngbPanelContent>
            <p>If you like a profile, we recommend that you take the first step by clicking "Connect Now". In case you
              need time to think, you can shortlist these members by clicking 'Shortlist' under small down arrow at
              the top of profile. </p>
            <p>App users can find these profiles under "Shortlisted" option while Website users can find this under
              "Recently Viewed" option under "Matches" Tab.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="How can I register on Shaadi.com?">
          <ng-template ngbPanelContent>
            <p>It's great that you wish to register on Shaadi.com.</p>
            <p>Follow 5 easy steps to start looking for your life partner on Shaadi.com: </p>
            <p>1) Click here to open the Registration page</p>
            <p>2) Fill out primary details as accurately as possible and hit submit.</p>
            <p>3) Add other information in the next steps.</p>
            <p> 4) Add your photos</p>
            <p>5) Verify your mobile number and mention your partner preference.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title=" Why is my profile Inactive? ">
          <ng-template ngbPanelContent>
            <p>There may be several reasons of your profile being offline :</p>
            <p>1) Your profile could have been taken offline for random validation. To activate your profile in no
              time, login to Shaadi.com now and validate the details requested.</p>
            <p>2) Your profile may be suspended if you have not logged more than 180 days.</p>
            <p>Feel free to call us on +91-7862889999 (between 10am - 7pm IST) or click here to chat with us 24 x 7.
            </p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="What is the advantage of verifying my phone number?">
          <ng-template ngbPanelContent>
            <p> Benefits of Verification</p>
            <p>- Builds trust in your profile as your profile gets phone verified Trust Badge</p>
            <p>- Get important alerts via SMS. e.g. Invitation received, Accept to your invitation, new matches,
              recent visitors, etc</p>
            <p>- Have more potential matches contact you</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="I have come across a profile which seems to be suspicious. What should I do?">
          <ng-template ngbPanelContent>
            <p>We continuously strive to keep our site clean by having zero tolerance for such profiles. Please report
              such profiles to us by following the below steps:</p>
            <p>1. Open the profile and click the down arrow icon at the top right.</p>
            <p>2. Select "Report Profile/Photo" then "Inappropriate/Unacceptable behavior".</p>
            <p>3. Select the appropriate option and click "Submit".</p>
            <p>3. Provide any additional info/screenshot and click "Continue".</p>
            <p>We will investigate and take the necessary action against the profile.We will investigate and take the
              necessary action against the profile.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Why am I asked to upload ID proof when I login?">
          <ng-template ngbPanelContent>We
            <p>strive to provide a safe and secure platform for our members in their partner search.</p>
            <p> Your profile is on random validation. Validation increases the trustworthiness of your profile
              indicating you are seriously seeking a match.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Why am I asked to upload ID proof when I login?">
          <ng-template ngbPanelContent>
            <p>We strive to provide a safe and secure platform for our members in their partner search.</p>
            <p> Your profile is on random validation. Validation increases the trustworthiness of your profile
              indicating you are seriously seeking a match.</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
<div>

  <!-- <div class="container">
  <div class="text-center mt-5">
    <h2 class="h4 text-grey-900 mb-2 h2">
      If is it helpfull ? If no then write us
    </h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card 0-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <form  [formGroup]="formhelpdesk" class="user">
                  <div class="row">
                    <div class="col-12">
                      <div class="">
                        <label for="Current address" class="form-label h3">Enter your Query here</label>
                        <textarea class="form-control" rows="7" class="form-control form-control-user" formControlName="query"></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary mt-4 "  (click)="tothamkyou()">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>