<nav class="navbar navbar-expand-lg navbar-light nav bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/4957587-removebg-preview.png" alt="" srcset="" class="img-fluid"><span><h4>NateSambhandh</h4></span>
      </a>
      <div id="navbarSupportedContent">
        <p class="text-white helpline mt-3 ">Help-Line 9309976861</p>
      </div>
      <div class="profile">


        <div class="dropdown">

          <button class="dropbtn">
            Profile
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" routerLink="/editprofile">Edit Profile</a>
            <a href="#" routerLink="/setting">Setting</a>
            <a href="#" routerLink="/home">Sign Out</a>
          </div>
        </div>


      </div>
      <button class="button btn-dark" routerLink="/home">logout</button>
    </div>
  </nav>
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card 0-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image">
                                <img src="../../../../assets/images/forgot-password/forgot-password.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-grey-900 mb-2">
                                            Forgot Your Password ?
                                        </h1>
                                        <p class="mb-4 mt-3">
                                            We get it, stuff happens just enter your email address
                                            below and we'll send you a link to reset your password!
                                        </p>
                                    </div>
                                    <form class="user" [formGroup]="formForgetpassword">
                                        <div class="form-group">
                                            <input pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="emial" class="form-control form-control-user"
                                                placeholder="Enter your email address" id="emailAddress"   formControlName="email"/>
                                        </div>
                                        <div class="form-text text-danger"
                                                    *ngIf="formForgetpassword.get('email')?.hasError('required') && formForgetpassword.get('email')?.touched">
                                                    enter your valid email
                                                    address</div>
                                        <button type="button" class="btn btn-dark mt-4"(click)="tologin()"  [disabled]="!formForgetpassword.valid">
                                            Reset Password
                                        </button>
                                    </form>
                                    <hr />
                                    <div class="text-center">
                                        <a class="small" routerLink="/register">Create an account</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" routerLink="/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>