<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card 0-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-grey-900 mb-2 ">
                                            One Last thing describe yourself in few words!
                                        </h1>
                                    </div>
                                    <form class="user">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="">
                                                    <label for="Current address" class="form-label">Current
                                                        Address</label>
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary mt-4" (click)="toPartner()">
                                            Save
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>