<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card 0-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-grey-900 mb-2 ">
                                            We would like to know about your family
                                        </h1>
                                    </div>
                                    <form class="user">

                                        <div class="row">
                                            <div class="col-12">
                                                <label for="family" class="mb-2">Your family type</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>Joint family</option>
                                                    <option>Nuclear family</option>
                                                    <option>Other</option> 
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <label for="father-occupation" class="mb-2">Father Occupation</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>Goverment Servant</option>
                                                    <option> Defence </option>
                                                    <option>Private service</option>
                                                    <option>Bussiness Man </option>
                                                    <option>Other</option>  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="Mother-occupation" class="mb-2">Mother Occupation</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>Goverment Servant</option>
                                                    <option> Defence </option>
                                                    <option>Private service</option>
                                                    <option>Bussiness  </option>
                                                    <option>House-wife </option>
                                                    <option>Other</option> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="fs-6 mt-2 mb-2 ">Brothers</label>
                                            </div>
                                            <div class="col-3">
                                               <div class="mt-2">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                value="option1" formControlName="" />
                                            <label class="form-check-label">one </label>
                                               </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mt-2">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    value="option1" formControlName="" />
                                                <label class="form-check-label">Two</label>
                                                   </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mt-2">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    value="option1" formControlName="" />
                                                <label class="form-check-label">Two+</label>
                                                   </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="fs-6 mt-2 mb-2 ">Sisters</label>
                                            </div>
                                            <div class="col-3">
                                               <div class="mt-2">
                                                <input class="form-check-input" type="radio" name="RadioOptions"
                                                value="option2" formControlName="" />
                                            <label class="form-check-label">one </label>
                                               </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mt-2">
                                                    <input class="form-check-input" type="radio" name="RadioOptions"
                                                    value="option2" formControlName="" />
                                                <label class="form-check-label">Two</label>
                                                   </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mt-2">
                                                    <input class="form-check-input" type="radio" name="RadioOptions"
                                                    value="option2" formControlName="" />
                                                <label class="form-check-label">Two +</label>
                                                   </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <button type="button" class="btn btn-primary mt-4"(click)="toEducation()">
                                                    Back
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-primary mt-4"(click)="toDescribe()">
                                                    Save & Next
                                                </button>
                                            </div>
                                           
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>