<app-header></app-header>

<body>
  <div class="row">
    <div class="col-md-4 side">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col col-md-7">
      <div class="textbox">
        <!-- <h3 style="font-weight: 700; ">Upgrade now & Get Premium benefits</h3> -->
        <div class="section_our_solution">
          <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-3">
              <div class="our_solution_category">
                <div class="solution_cards_box">
                  <div class="solution_card" style="text-align: center;">
                    <div class="hover_color_bubble"></div>

                    <div class="solu_title" style="text-align: center;">
                      <span style="font-size: 30px; margin-left: 15px">Gold Plus</span>
                      <span style="font-size: 20px; margin-left: 10px">12 Months</span>
                    </div>
                    <div class="solu_description">
                      <h4 style="text-align: center;">30% Off </h4>
                      <h2 style="font-size: 50px; font-weight: 700;">Rs. 1000</h2>

                      <div style="text-align: left;" class="list">
                        <span><i class="fa fa-check"></i>Send Unlimites Messages</span><br>
                        <span><i class="fa fa-check"></i>Priority Customer Service</span><br>
                        <span><i class="fa fa-check"></i>View Contact Numbers</span><br>
                        <span><i class="fa fa-check"></i>Let Matches Contact you Directly</span><br>
                        <span><i class="fa fa-check"></i>Standout from other Profiles</span><br>
                        <span><i class="fa fa-check"></i>Make your Contact details Visible</span>
                      </div>

                      <button type="button"  class="read_more_btn"
                        style="padding: 10px 50px; font-size: larger; margin-top: 10px; border-radius: 20px;" (click)="pay(1000)"
                      >Buy
                        Now</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>


</body>