<div class="row">
    <div class="sidebar-container  col-md-4 shadow-lg  bg-white rounded mt-5" >
        <div class="sidebar-logo"> 
            <img src="../../../assets/ag7e4ap8_genelia_625x300_30_August_20.jpg" alt="" srcset="" class="img-fluid circular--square" routerLink="/viewprofile">
            <h3 style="text-align: center; margin-top: 10px;">Aarna Bhosle</h3>
        </div>
        <ul class="sidebar-navigation space" >
            <li>
                <a href="#" routerLink="/dashboard">
                    <i class="fa-solid fa-gauge"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#" routerLink="/updatemembership">
                    <i class="fa-solid fa-box-open" ></i> Packages
                </a>
            </li>
            <li>
                <a href="#" routerLink="/chatbox">
                    <i class="fa-solid fa-message" ></i> Message
                </a>
            </li>
            <li>
                <a href="#" routerLink="/support-ticket">
                    <i class="fa-solid fa-ticket"></i> Support 
                </a>
              </li>
              <li>
                <a href="#" routerLink="/myinterest">
                    <i class="fa-solid fa-heart"></i> My Interest
                </a>
              </li>
              <li>
                <a href="#" routerLink="/shortlist">
                    <i class="fa-solid fa-list"></i> Shortlist
                </a>
              </li>
        
            <li>
                <a href="#" routerLink="/setting">
                    <i class="fa-solid fa-gear"></i> Settings
                </a>
            </li>
            
        </ul>
        <!-- <button routerLink="/home" class="btnn1 btn btn-dark mt-3" type="button">Logout</button> -->
    </div>
    
</div>