<!-- <app-header></app-header> -->


<body>
    <div class="row">
        <div class="col-md-4">
            <!-- <app-sidebar></app-sidebar> -->

        </div>
        <div class="col-8  bg-color ">
            <div class="myticket ms-5">
                <div class="row">
                    <div class="col-6">
                        <h4 class="ms-2 mt-5">Cupiditate</h4>
                    </div>
                    <div class="col-6 mt-5">
                    </div>
                    <!-- <hr> -->
                </div>
                <div class="col-row" >
                    <div class="col-md-11" >
                        <form action="">
                            <div class="form-group" >
                                <label for="exampleFormControlTextarea1"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success mt-3 ms-3 attach"><i class="fa-solid fa-paperclip"></i></button>
                        <button type="button" class="btn btn-danger mt-3 ms-5 send"><i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </div>
                <div class="row mt-3 me-3">
                    <span class="border mb-5">
                        <h5 class="mt-2 ms-3">Comments </h5>
                        <div class="col-md-11 ms-2">
                            <span class="d-flex align-items-center">
                                <span class="mr-md-1 me-0 nav-item ms-0 mt-0">
                                    <img src="../../assets/girl.jpg" class="size-55px rounded-circle img-fit admin-img"
                                        height="45" width="45">
                                </span>
                                <span class="d-none d-md-block text-black nav-item">
                                    <span class="d-block mb-0 fs-6 ms-2 mt-5">9 months ago</span>

                                    <span class="d-block mt-3 mb-0 fs-6 ms-2">Contrary to popular belief,
                                        Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                        Latin literature from 45 BC,<br> making it over 2000 years old.</span>

                                </span>
                            </span>
                            <span class="d-flex align-items-center">
                                <span class="mr-md-1 me-0 nav-item ms-0 mt-0">
                                    <img src="../../assets/somesh.jpg"
                                        class="size-55px rounded-circle img-fit admin-img" height="45" width="45">
                                </span>
                                <hr>
                                <span class="d-none d-md-block text-black nav-item">
                                    <span class="d-block mb-0 fs-6 ms-2 mt-5">9 months ago</span>

                                    <span class="d-block mt-3 mb-2 fs-6 ms-2 ">Contrary to popular belief,
                                        Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                        Latin literature from 45 BC,<br> making it over 2000 years old.</span>

                                </span>
                            </span>

                        </div>
                    </span>
                </div>
            </div>

        </div>

    </div>


</body>