<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card 0-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-grey-900 mb-2 ">
                                            Lets create your profile Now
                                        </h1>
                                    </div>
                                    <form class="user">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="City" class="mb-2">City you live in</label>
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Enter your city" />

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="height" class="mb-2">Your Height</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>4.0 ft</option>
                                                    <option>4.1ft</option>
                                                    <option>4 2t</option>
                                                    <option>4.3ft</option>
                                                    <option>4 4t</option>
                                                    <option>4.5ft</option>
                                                    <option>4 6t</option>
                                                    <option>4.7ft</option>
                                                    <option>4 8t</option>
                                                    <option>4.9ft</option>
                                                    <option>5.0 ft</option>
                                                    <option>5.1ft</option>
                                                    <option>5.2 ft</option>
                                                    <option>5.3ft</option>
                                                    <option>5.4 ft</option>
                                                    <option>5.5ft</option>
                                                    <option>5.6ft</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="Skin-color" class="mb-2">Skin Color</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>Blonde</option>
                                                    <option>Fair</option>
                                                    <option>Ducky</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="sub-Community" class="mb-2">Your Sub-Community</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>96 Kuli Maratha</option>
                                                    <option>Bhandar</option>
                                                    <option>Chambhar</option>
                                                    <option>Dhangar</option>
                                                    <option>Koli</option>
                                                    <option>Kunbhi</option>
                                                    <option>Maratha</option>
                                                    <option>Mannervarlu</option>
                                                    <option>Matang </option>
                                                    <option>Sutar</option>
                                                    <option>Sonar</option>
                                                    <option>Teli</option>
                                                    <option>Vanjara </option>
                                                    <option>Banjara</option>
                                                    <option>Lohar</option>
                                                    <option>Vani</option>
                                                    <option>Mahadevkoli</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="sub-Community" class="mb-2">Your Mother Tounge</label>
                                                <select class="form-select form-select-sm"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Select</option>
                                                    <option>Marathi</option>
                                                    <option>Telugu</option>
                                                    <option>Tamil</option>
                                                    <option>Kanada</option>
                                                    <option>Hindi</option>
                                                    <option>English</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="">
                                                    <label for="Current address" class="form-label">Current
                                                        Address</label>
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="">
                                                    <label for="Current address" class="form-label">Current
                                                        Address</label>
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary mt-4" (click)="toEducation()">
                                            Save & Next
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>