<app-header></app-header>
<div class="container mt-3">
    <div class="basic-details">
        <img src="../../../assets/images/photo-1615966650071-855b15f29ad1.jpg" alt="" srcset="" class="cover-photo">
        <div class="card my-0" style="border: none;">
            <div class="row">
                <div class="col-2">
                    <div class="profile">
                        <img class="img-circle rounded-circle"
                            style="margin-top: -80%; margin-bottom: 10px; margin-left: 20%;"
                            src="../../../assets/images/listing/Depesh.jfif" alt="" width="200px" height="199px">
                    </div>
                </div>
                <div class="col-12">

                    <h2 class="fw-bold mt-1 basic">Aarav</h2>
                    <h6 class="basic text-darko fw-bold">SM12345</h6>
                    <h6 class="basic text-secondary">Software Developer</h6>
                    <h6 class="basic text-secondary"> Wipro Pune</h6>
                    <h6 class="basic text-secondary">Nanded Maharashtra India</h6>
                    <p class="basic text-secondary"> I have pursued Bachelors.
                        As a family, we are closely connected and support each other. </p>
                </div>
                <div class="col-3 para h4">
                  
                    <div class="c100 big">
                        <span class="no">80%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>  
                    <p class="p">Your Profile Match</p>
                 </div>
                <div class="col-3 conn">
                    <div class="row">
                        <div class="col-4">
                            <!-- <button type="button" class="btn btn-outline-dark" routerLink="/updatemembership">
                                Connect
                            </button> -->
                            <button type="button" class="btn btn-primary" routerLink="/chatbox" >
                                Message
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary" routerLink="/chatbox" >
                                Shortlist
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary" routerLink="/chatbox" >
                                MyInterest
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card 0-hidden border-0 shadow-lg my-4 mt-5 p-3">
        <div class="heading">
            <h3 class="ms-5 mt-2">Basic Details</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="b-details">
                    <div class="row">
                        <div class="col-6 text-right">
                            <h6 class="text-start bold">Age :</h6>
                            <h6 class="text-start bold">Height :</h6>
                            <h6 class="text-startb bold">Skin-color :</h6>
                            <h6 class="text-startv bold">Sub-community:</h6>
                        </div>
                        <div class="col-6 ">
                            <h6 class="text-start fw-light">27</h6>
                            <h6 class="text-start fw-light">5.5ft</h6>
                            <h6 class="text-start fw-light">Fair</h6>
                            <h6 class="text-start fw-light">Mannervarlu</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-start bold">MotherTopunge : </h6>
                        <h6 class="text-start bold">Current Address : </h6>
                        <h6 class="text-start bold">paremanent Address : </h6>
                    </div>
                    <div class="col-6">
                        <h6 class="text-start fw-light">Marathi</h6>
                        <h6 class="text-start fw-light"> Raj recidency falt no 301,Pune</h6>
                        <h6 class="text-start fw-light"> At post Biloli Tq Biloli Dist Nanded</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card 0-hidden border-0 shadow-lg my-4 mt-5 p-3">
        <div class="heading">
            <h3 class="ms-5 mt-2">Educatonal Details</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="b-details">
                    <div class="row">
                        <div class="col-6 text-right">
                            <h6 class="text-start bold">Highest Qualification :</h6>
                            <h6 class="text-start bold">Degree :</h6>

                        </div>
                        <div class="col-6 ">
                            <h6 class="text-start fw-light ">Graduate</h6>
                            <h6 class="text-start fw-light ">B.tech</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-start bold">work With : </h6>
                        <h6 class="text-start bold">Annual income : </h6>
                    </div>
                    <div class="col-6">
                        <h6 class="text-start fw-light">Private Sector</h6>
                        <h6 class="text-start fw-light">7-10 Lakh</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card 0-hidden border-0 shadow-lg my-4 mt-5 p-3">
        <div class="heading">
            <h3 class="ms-5 mt-2">Family Details</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="b-details">
                    <div class="row">
                        <div class="col-6 text-right">
                            <h6 class="text-start bold">Family Type :</h6>
                            <h6 class="text-start bold">Father occupation :</h6>

                        </div>
                        <div class="col-6 ">
                            <h6 class="text-start fw-light">Joint Family</h6>
                            <h6 class="text-start fw-light">Goverment Servant</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-start bold">Mother occupation : </h6>
                        <h6 class="text-start bold">Siblings:</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="text-start fw-light">House-wife</h6>
                        <h6 class="text-start fw-light">2</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card 0-hidden border-0 shadow-lg my-4 mt-5 p-3">
        <div class="heading">
            <h3 class="ms-5 mt-2">Partner Preferences</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="b-details">
                    <div class="row">
                        <div class="col-6 text-right">
                            <h6 class="text-start bold">Age :</h6>
                            <h6 class="text-start bold">Height :</h6>
                            <h6 class="text-start bold">Marital Status :</h6>
                            <h6 class="text-start bold">Religion :</h6>
                            <h6 class="text-start bold">MotherTounge :</h6>


                        </div>
                        <div class="col-6 ">
                            <h6 class="text-start fw-light">24 to 28</h6>
                            <h6 class="text-start fw-light"> 5 ft to 5.5 ft </h6>
                            <h6 class="text-start fw-light">Never Married</h6>
                            <h6 class="text-start fw-light">Hindu</h6>
                            <h6 class="text-start fw-light">Marathi</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-start bold">Highest Qualification : </h6>
                        <h6 class="text-start bold">Degree:</h6>
                        <h6 class="text-start bold">Work With: </h6>
                        <h6 class="text-start bold">Annual Income:</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="text-start fw-light">Bachelors</h6>
                        <h6 class="text-start fw-light">B.tech</h6>
                        <h6 class="text-start fw-light">Private Sector</h6>
                        <h6 class="text-start fw-light">4-7 Lakh</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />